/* ==========================================================================
Main page styles
========================================================================== */

.fontMerlion {
  color: #266ba0;
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  font-size: 26;
}

#button {
  background-color: #266ba0;
  color: white;
}
