.fontMerlion {
  color: #266ba0;
  font-family: Helvetica, sans-serif;
  font-weight: bold;
}

.paper {
  background-color: #266ba0;
}

.button {
  background-color: #266ba0;
}
.cardHeader {
  color: #266ba0;
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  text-align: center;
}
.card {
  min-width: 550px;
}
